<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"border":{"radius":"4px"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"muted-gray","layout":{"type":"default"}} -->
<div class="wp-block-group has-muted-gray-background-color has-background" style="border-radius:4px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"120px"},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->
<h2 class="wp-block-heading has-text-align-center" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:120px">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">The page you are looking for does not exist, or it has been moved. <br>Please try searching using the form below.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Enter query...","width":50,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","align":"center","style":{"border":{"radius":"4px"},"spacing":{"margin":{"right":"0","left":"0"}}},"fontSize":"regular","borderColor":"muted-gray"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->