<!-- wp:template-part {"slug":"header","theme":"mozis"} /-->

<!-- wp:group {"tagName":"main","metadata":{},"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:query {"queryId":12,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
    <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
    <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","sizeSlug":"full","style":{"border":{"radius":"4px"}}} /-->
    
    <!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"0.5px","textDecoration":"none"},"elements":{"link":{"color":{"text":"var:preset|color|dark"},":hover":{"color":{"text":"var:preset|color|brand"}}}},"spacing":{"padding":{"top":"4px","bottom":"4px"}}},"textColor":"dark","fontSize":"extra-small"} /-->
    
    <!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"0","bottom":"var:preset|spacing|30"}},"elements":{"link":{"color":{"text":"var:preset|color|dark"},":hover":{"color":{"text":"var:preset|color|brand"}}}}},"textColor":"dark","fontSize":"large"} /-->
    
    <!-- wp:post-date {"fontSize":"small"} /-->
    <!-- /wp:post-template -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase","letterSpacing":"1px"}},"fontSize":"small","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:group -->
    
    <!-- wp:query-no-results {"align":"center"} -->
    <!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when a query returns no results.","fontSize":"regular"} -->
    <p class="has-text-align-center has-regular-font-size">No posts found.</p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results --></div>
    <!-- /wp:query --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"mozis"} /-->
